body {
  background-color: black;
  overflow: hidden;
}
* {
  font-family: "Plus Jakarta Sans";
}
::-webkit-scrollbar {
  width: 1vw;
}
@media (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}
::-webkit-scrollbar-thumb {
  background-color: rgb(39, 39, 39);
  border-radius: 50px;
}
.nav-button {
  background-color: rgb(49, 49, 49);
}

.post {
  color: #ffc9c9;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.25)),
    url("https://images.unsplash.com/photo-1668279176630-2ee3be57b6ed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");

  background-size: cover;
  background-position: center;
}
.post > * {
  color: rgb(255, 197, 197);
}
.post > :nth-child(2) > * {
  background-color: rgb(103, 58, 58);
}

.tag {
  background-color: rgb(77, 77, 77);
}

.column-box {
  background: linear-gradient(
      to top right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3)
    ),
    url("https://images.unsplash.com/photo-1685866865968-3b4b53b88027?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=435&q=80");
  background-size: cover;
  background-position: center;
}
.column-text,
.username {
  color: rgb(235, 216, 140);
}
.assist-button {
  color: rgb(36, 59, 53);
  background-color: rgb(255, 201, 109);
}
.option {
  background-color: rgb(59, 58, 36);
}
.assist {
  background-color: rgb(59, 58, 36);
  border-radius: 4vh;
  border-top-left-radius: 0;
}

select {
  background-image: url("");
}
.optional-header {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  color: #c4c4c4;
}
.active {
  color: #ffffff;
}

/* Style the optional-header expanded. Note: hidden by default */
.expanded {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.decision {
  background: url("https://images.unsplash.com/photo-1685777160346-6d1da0d6b428?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  color: #d8f1ff;
  background-size: cover;
  background-position: center;
}
.decision:hover > .on-hover-line {
  opacity: 100%;
  transition: opacity 0.1s ease-in;
}

.on-hover-line {
  background: #83eaff;
}
.profile-pic {
  background-image: url("https://images.unsplash.com/photo-1564564321837-a57b7070ac4f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=876&q=80");
  background-size: cover;
  background-position: center;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
}
input[type="checkbox"]:checked {
  appearance: auto;
  -webkit-appearance: auto;
}

.expanded > textarea:focus {
  outline: none;
}

.auth-background {
  background-image: url("./background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
